# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default Code Owners
@saratpoluri
@ltalarcz
@tdorauintc
@MikolajKasprzak
@dmytroye
@GrzegorzWrobel
@Irakus
@daddo-intel
@sarthakdeva-intel
@sbelhaik

# documentation content
/docs/               @saratpoluri @ltalarcz @tdorauintc @MikolajKasprzak @dmytroye @GrzegorzWrobel @Irakus @daddo-intel @sarthakdeva-intel @sbelhaik @open-edge-platform/open-edge-platform-docs-write
/README.md           @saratpoluri @ltalarcz @tdorauintc @MikolajKasprzak @dmytroye @GrzegorzWrobel @Irakus @daddo-intel @sarthakdeva-intel @sbelhaik @open-edge-platform/open-edge-platform-docs-write
