**/html
*.bundle
*.d
*.log
*.o
*.orig
*.tar
*~
.coverage_*
.env
.pytest_cache
.vscode
__pycache__
admin-pass.txt
apriltag-cam[0-9].json
build
datasets
db
db.sqlite3
db-backup-*
manager/src/static/assets
manager/src/static/bootstrap*
manager/src/static/examples
manager/secrets
manager/src/manager/secrets.py
docker-compose.yml
kubernetes/setup/
kubernetes/manager
media
# Ignore runtime migrations directory (not Django source migrations)
/migrations
**/workspace/migrations
pvd-mqtt/detect
sample_data/xREF_*
test_data
test_reports/
!tests/interface/firefox-profile.tar
manager/test/geckodriver.tar.gz
tests/perf_tests/input/*.json
model_installer/models
package.json
package-lock.json
node_modules
coverity_tool.tgz
*.auth
*.crt
*.csr
*.key
*.ts
*.pem
kubernetes/scenescape-chart/files/*
.venv
