# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Most yaml files are go templates, so they're parsed incorrectly
**/kubernetes/**/*.yaml
**/.reuse/templates/template.jinja2
.venv

# Build directories (CMake/Conan generated)
**/build/
**/build-*/
**/CMakeUserPresets.json
**/CMakePresets.json
**/CMakeFiles/

**/tests/api/README.md
**/tests/system/metric/dataset/*.json